[Desktop Entry]
Encoding=UTF-8
Name=LDView
GenericName=LDraw model viewer
Comment=LDraw Model Viewer
Exec=LDView %f -platform xcb
Icon=gnome-ldraw
Terminal=false
Type=Application
MimeType=application/x-ldraw;application/x-multipart-ldraw;
Categories=Graphics;3DGraphics;Viewer;
