name: Release

on:
  push:
    tags:
    - 'v*'
#  schedule:
#  - cron: '0 10 * * *'

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    steps:
    - uses: actions/checkout@v6
    - name: Set tag name
      id: tag
      run: |
        if [[ "${{ github.event_name }}" = "schedule" ]]; then
          tag=v$(date +%Y-%m-%d.%H:%M:%S)
        elif [[ "${{ github.event_name }}" = "push" ]]; then
          if [[ $(basename "${{ github.ref }}" | cut -c1) = v ]] ; then
            tag=$(basename "${{ github.ref }}")
          fi
        fi
        echo "tag=$tag" >> $GITHUB_OUTPUT
    - name: Create Release
      if: steps.tag.outputs.tag != ''
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}
      run: |
        ver=$(echo ${{ steps.tag.outputs.tag }} | cut -c2-)
        if [[ "${{ github.event_name }}" = "schedule" ]]; then
          date=$(echo ${{ steps.tag.outputs.tag }} | cut -c2-11)
          time=$(echo ${{ steps.tag.outputs.tag }} | cut -c13-)
          if (gh release list | cut -f3 | grep -q  $date); then
            gh release create --draft "${{ steps.tag.outputs.tag }}" --title "LDView Snapshot $date $time"
          else
            gh release create --draft "${{ steps.tag.outputs.tag }}" --title "LDView Snapshot $date"
          fi
        elif [[ "${{ github.event_name }}" = "push" ]]; then
          gh release create --draft "${{ steps.tag.outputs.tag }}" --title "LDView $ver" 
        fi
  build-windows:
    needs: [prepare]
    runs-on: windows-2025
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2
    - name: Cache
      if: endsWith(github.ref, '/master')
      uses: actions/cache@v4
      with:
        path: |
          Build
          */Build
        key: windows
    - name: Build LDView
      shell: cmd
      run: .\build.cmd
#    - name: Build LDView32
#      shell: cmd
#      run: |
#        msbuild LDView.vcxproj /p:Configuration=Release /p:Platform=win32
#        "c:\Program Files (x86)\Inno Setup 6\ISCC.exe" LDView.iss
    - name: Upload Setup
      if: needs.prepare.outputs.tag != ''
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}
      run:  gh release upload "${{ needs.prepare.outputs.tag }}" Setup\LDView*.exe
  build-ubuntu:
    needs: [prepare]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install developement packages
        run:  sudo ./QT/docker/install-devel-packages.sh
      - name: Cache
        if: endsWith(github.ref, '/master')
        uses: actions/cache@v4
        with:
          path:  /home/runner/.cache/ccache
          key: ubuntu
      - name: Build LDView
        run: cd QT ; ./makedeb -qt5
      - name: Upload packages
        if: needs.prepare.outputs.tag != ''
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.prepare.outputs.tag }}" QT/ldview-*.deb
  build-fedora:
    needs: [prepare]
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install developement packages
        run:  sudo ./QT/docker/install-devel-packages.sh
      - name: Install gh package
        run:  sudo dnf install -y gh
      - name: Cache
        if: endsWith(github.ref, '/master')
        uses: actions/cache@v4
        with:
          path: /github/home/.cache/ccache
          key: fedora
      - name: Build LDView
        run:  export PATH="/usr/lib64/ccache:$PATH";cd QT ; mkdir -p ~/rpmbuild/{BUILD,RPMS,SOURCES,SPECS,SRPMS} ; ./makerpm
      - name: Upload packages
        if: needs.prepare.outputs.tag != ''
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.prepare.outputs.tag }}" /github/home/rpmbuild/RPMS/*/ldview*.rpm
  build-appimage:
    needs: [prepare]
    runs-on: ubuntu-latest
    container:
      image: opensuse/leap:15.4
    steps:
      - name: Install developement packages
        run:  zypper --non-interactive install git rpm-build rpmlint libqt5-qtbase-devel libqt5-linguist zlib-devel libpng16-compat-devel libjpeg8-devel wget glu-devel gl2ps-devel tinyxml-devel minizip-devel hostname
      - name: Install gh package
        run: |
          zypper ar https://cli.github.com/packages/rpm/gh-cli.repo
          zypper in -y gh ccache || true
      - name: Cache
        if: endsWith(github.ref, '/master')
        uses: actions/cache@v4
        with:
          path: /github/home/.ccache
          key: appimage
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build LDView
        run: |
          cd QT
          export PATH=/usr/lib64/ccache:$PATH
          qmake-qt5 -spec linux-g++-64
          export APPIMAGE_EXTRACT_AND_RUN=1
          ./appimage.sh
      - name: Upload packages
        if: needs.prepare.outputs.tag != ''
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.prepare.outputs.tag }}" QT/LDView*.AppImage
  build-debian:
    needs: [prepare]
    runs-on: ubuntu-latest
    container:
      image: debian:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install developement packages
        run:  ./QT/docker/install-devel-packages.sh
      - name: Install gh package
        run:  apt-get install -y gh
      - name: Cache
        if: endsWith(github.ref, '/master')
        uses: actions/cache@v4
        with:
          path: /github/home/.cache/ccache
          key: debian
      - name: Build LDView
        run: cd QT ; ./makedeb -qt5
      - name: Upload packages
        if: needs.prepare.outputs.tag != ''
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.prepare.outputs.tag }}" QT/ldview-*.deb
  build-arch:
    needs: [prepare]
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install developement packages
        run:  ./QT/docker/install-devel-packages.sh
      - name: Install gh package
        run:  pacman -Sy --noconfirm github-cli ccache
      - name: Cache
        if: endsWith(github.ref, '/master')
        uses: actions/cache@v4
        with:
          path: /.cache/ccache
          key: arch
      - name: Build LDView
        run: |
          test -d /.cache || mkdir /.cache
          chmod -R og+w /.cache
          sed -ibak '/BUILDENV/s/!ccache/ccache/g' /etc/makepkg.conf
          cd QT
          chmod o+w -R ..
          sudo -u nobody makepkg -ef
          sed -i 's/qmake /qmake6 /g' PKGBUILD
          sed -i 's/lrelease /lrelease6 /g' PKGBUILD
          sed -i '/pkgname/s/ldview.*osmesa/ldview-qt6/' PKGBUILD
          sed -i '/^depends/s/)/ '\''qt6-5compat'\'')/' PKGBUILD
          sed -i 's/ldview(/ldview-qt6(/' PKGBUILD
          sudo -u nobody makepkg -ef
      - name: Upload packages
        if: needs.prepare.outputs.tag != ''
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.prepare.outputs.tag }}" QT/ldview*pkg.tar.*
  build-alpine:
    needs: [prepare]
    runs-on: ubuntu-latest
    container:
      image: alpine:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install developement packages
        run:  ./QT/docker/install-devel-packages.sh
      - name: Install gh package
        run:  apk add github-cli ccache
      - name: Cache
        if: endsWith(github.ref, '/master')
        uses: actions/cache@v4
        with:
          path: /github/home/.cache/ccache
          key: alpine
      - name: Build LDView
        run: |
          cd QT
          export PATH="/usr/lib/ccache/bin:$PATH"
          abuild-keygen -a -n -i
          abuild -F
      - name: Upload packages
        if: needs.prepare.outputs.tag != ''
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.prepare.outputs.tag }}" /github/home/packages/ldview/*/ldview*.apk
  build-mac:
    runs-on: macos-latest
    needs: [prepare]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache
        if: endsWith(github.ref, '/master')
        uses: actions/cache@v4
        with:
          path: |
            MacOSX/*/build
            MacOSX/*/*.pch
          key: mac
      - name: Build LDView
        run: cd MacOSX/LDView ; xcodebuild ; ./builddmg.sh build/Release/LDView.app
      - name: Upload packages
        if: needs.prepare.outputs.tag != ''
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.prepare.outputs.tag }}" MacOSX/LDView/distrib/LDView*.dmg
  cleanup:
    if: github.event_name == 'schedule'
    needs:
      - prepare
      - build-windows
      - build-ubuntu
      - build-fedora
      - build-alpine
      - build-debian
      - build-appimage
      - build-arch
      - build-mac
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
#      - name: Publish
#        env:
#          GH_TOKEN: ${{ github.token }}
#          GH_REPO: ${{ github.repository }}  
#        run: gh release edit "${{ needs.prepare.outputs.tag }}" --draft=false --prerelease
      - name: Remove old releases
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}  
        run: |
          gh release list |cut -f3|grep -v "${{ needs.prepare.outputs.tag }}"| grep -E 'v[0-9]{4}-[0-9]{2}-[0-9]{2}\.[0-9]{2}:[0-9]{2}:[0-9]{2}'|sort -nr
          gh release list |cut -f3|grep -v "${{ needs.prepare.outputs.tag }}"| grep -E 'v[0-9]{4}-[0-9]{2}-[0-9]{2}\.[0-9]{2}:[0-9]{2}:[0-9]{2}'|sort -nr|tail +2|\
          (while read tag ; do gh release delete -y $tag ; done)
