name: Release

on:
  push:
    tags:
    - 'v*'
#  schedule:
#  - cron: '0 10 * * *'

jobs:
  release:
      runs-on: ubuntu-latest
      outputs:
        tag: ${{ steps.tag.outputs.tag }}
      steps:
      - uses: actions/checkout@v5
      - name: Set tag name
        id: tag
        run: |
          if [[ "${{ github.event_name }}" != "push" ]]; then
            tag=v$(date +%Y%m%d.%H%M%S)
          else
            tag=$(basename "${{ github.ref }}")
          fi
          echo "tag=$tag" >> $GITHUB_OUTPUT
      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          gh release create --draft "${{ steps.tag.outputs.tag }}" --title "${{ steps.tag.outputs.tag }}"
  build-winows:
      needs: [release]
      runs-on: windows-2025
      steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
      - name: Build LDView
        shell: cmd
        run: .\build.cmd
      - name: Upload Setup
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.release.outputs.tag }}" Setup\LDView*.exe
  build-ubuntu:
    needs: [release]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install developement packages
        run:  sudo ./QT/docker/install-devel-packages.sh
      - name: Build LDView
        run: cd QT ; ./makedeb -qt5
      - name: Upload packages
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.release.outputs.tag }}" QT/ldview-*.deb
  build-fedora:
    needs: [release]
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install developement packages
        run:  sudo ./QT/docker/install-devel-packages.sh
      - name: Install gh package
        run:  sudo dnf install -y gh
      - name: Build LDView
        run:  cd QT ; mkdir -p ~/rpmbuild/{BUILD,RPMS,SOURCES,SPECS,SRPMS} ; ./makerpm
      - name: Upload packages
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.release.outputs.tag }}" /github/home/rpmbuild/RPMS/*/ldview*.rpm
  build-appimage:
    needs: [release]
    runs-on: ubuntu-latest
    container:
      image: opensuse/leap:15.4
    steps:
      - name: Install developement packages
        run:  zypper --non-interactive install git rpm-build rpmlint libqt5-qtbase-devel libqt5-linguist zlib-devel libpng16-compat-devel libjpeg8-devel wget glu-devel gl2ps-devel tinyxml-devel minizip-devel hostname
      - name: Install gh package
        run: |
          zypper ar https://cli.github.com/packages/rpm/gh-cli.repo
          zypper in -y gh || true
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build LDView
        run: |
          cd QT
          qmake-qt5 -spec linux-g++-64
          export APPIMAGE_EXTRACT_AND_RUN=1
          ./appimage.sh
      - name: Upload packages
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.release.outputs.tag }}" QT/LDView*.AppImage
  build-debian:
    needs: [release]
    runs-on: ubuntu-latest
    container:
      image: debian:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install developement packages
        run:  ./QT/docker/install-devel-packages.sh
      - name: Install gh package
        run:  apt-get install -y gh
      - name: Build LDView
        run: cd QT ; ./makedeb -qt5
      - name: Upload packages
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.release.outputs.tag }}" QT/ldview-*.deb
  build-arch:
    needs: [release]
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install developement packages
        run:  ./QT/docker/install-devel-packages.sh
      - name: Install gh package
        run:  pacman -Sy --noconfirm github-cli
      - name: Build LDView
        run: |
          cd QT
          chmod o+w -R ..
          sudo -u nobody makepkg -ef
          sed -i 's/qmake /qmake6 /g' PKGBUILD
          sed -i 's/lrelease /lrelease6 /g' PKGBUILD
          sed -i '/pkgname/s/ldview.*osmesa/ldview-qt6/' PKGBUILD
          sed -i '/^depends/s/)/ '\''qt6-5compat'\'')/' PKGBUILD
          sed -i 's/ldview(/ldview-qt6(/' PKGBUILD
          sudo -u nobody makepkg -ef
      - name: Upload packages
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.release.outputs.tag }}" QT/ldview*pkg.tar.*
  build-mac:
    runs-on: macos-latest
    needs: [release]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build LDView
        run: cd MacOSX/LDView ; xcodebuild ; ./builddmg.sh build/Release/LDView.app
      - name: Upload packages
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run:  gh release upload "${{ needs.release.outputs.tag }}" MacOSX/LDView/distrib/LDView*.dmg
